page-login {
    .sample{
        position: relative;
        height: auto;
        margin-top: 15px;
        width: 80%;
       // top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
       // background-color: green;
        display: block;
    }
}
