page-settings {
    ion-label{
        color: white;
    }
    ion-icon{
        color: white;
    }
    ion-item{
        color: white;
    }
    ion-input{
        color: white; 
    }
    ion-select{
        color: white;
    }
    ion-datetime{
        color: white;
    }
    .picker-md .picker-wrapper{
        background-color: white !important;
    }




}
